docs/* linguist-documentation
*.jar linguist-vendored
NC\ FTC\ Inspection/Resources/Resources/gameForum.html linguist-vendored
NC\ FTC\ Inspection/Resources/Resources/electricalForum.html linguist-vendored
NC\ FTC\ Inspection/Resources/Resources/mechanicalForum.html linguist-vendored
NC\ FTC\ Inspection/Resources/Resources/tournamentForum.html linguist-vendored
NC\ FTC\ Inspection/Resources/Resources/judgeForum.html linguist-vendored
